.itemselector-container.light {
	--itemselector-color: #000;
	--itemselector-bgcolor-1: #dddddd;
	--itemselector-bgcolor-0: #e2e2e2;
	--itemselector-bgcolor-2: #cdcdcd;
	--itemselector-bgcolor-3: #bdbdbd;
	--itemselector-btnclose-bgcolor: #00bcd4;
	--itemselector-spliter-color: rgba(0,0,0,0.28);
}
.itemselector-container.dark {
	--itemselector-color: #fff;
	--itemselector-bgcolor-0: #1d1d1d;
	--itemselector-bgcolor-1: #222222;
	--itemselector-bgcolor-2: #323232;
	--itemselector-bgcolor-3: #424242;
	--itemselector-btnclose-bgcolor: #00bcd4;
	--itemselector-spliter-color: rgba(255,255,255,0.28);
}

.itemselector-container {
	box-shadow: 0 3px 15px rgb(0 0 0 / 20%), 0 6px 6px rgb(0 0 0 / 14%), 0 9px 3px -6px rgb(0 0 0 / 12%);
	color: var(--itemselector-color);
	background-color: var(--itemselector-bgcolor-0);
}



.itemselector-header {
	border-bottom: 1px solid var(--itemselector-spliter-color);
}



.itemselector-body {
	scrollbar-color: var(--itemselector-bgcolor-2) var(--itemselector-bgcolor-1);
}
.itemselector-body:hover {
	scrollbar-color: var(--itemselector-bgcolor-3) var(--itemselector-bgcolor-1);
}
.itemselector-body::-webkit-scrollbar {
	background-color: var(--itemselector-bgcolor-1);
}
.itemselector-body::-webkit-scrollbar-thumb, .itemselector-body::-webkit-scrollbar-button {
	background-color: var(--itemselector-bgcolor-2);
}
.itemselector-body::-webkit-scrollbar-thumb:hover, .itemselector-body::-webkit-scrollbar-button:hover {
	background-color: var(--itemselector-bgcolor-3);
}



.itemselector-item-background {
	transition-duration: 0.3s;
	border-top: 1px solid var(--itemselector-spliter-color);
}
.itemselector-item-background.itemselector-item-hover {
	background-color: var(--itemselector-bgcolor-2);
}



.itemselector-button {
	background-color: var(--itemselector-btnclose-bgcolor);
	color: var(--itemselector-color);
}
.itemselector-button.itemselector-button-close {
	background-color: var(--itemselector-bgcolor-2);
}
.itemselector-button.itemselector-button-close:hover {
	background-color: var(--itemselector-bgcolor-3);
}